body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;   /* Double size for better showcasing effects */
    height: 40px;

    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

.btn-1 {}


/* POINTING ARROW */
@keyframes pointing {
    0%   {right: 3px;}
    11%   {right: 0px;}
    22%  {right: -3px;}
    33%  {right: -6px;}
    44%  {right: -9px;}
    55%  {right: -12px;}
    66%  {right: -9px;}
    77%  {right: -6px;}
    88%  {right: -3px;}
    99%  {right: 0px;}
}

.btn-2 {
    background-color: orangered;
    font-size: 12px;
    font-weight: 800;
    color: antiquewhite;
}

.btn-2:hover {
    animation-name: pointing;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-delay: 400ms;
}

.btn-2 span {
    position: relative;     /* Set positioning to allow position specification */
    transition: 500ms;      /* Both span and span:after needs transition set independantly */
}

.btn-2 span::after {        /* Insert content "after" element */
    content: '\00bb';       /* Double Arrow */
    position: absolute;     /* Allow positioning */
    opacity: 0;             /* "Hide" in default state */
    right: -18px;           /* Position away from span text */
    transition: 500ms;      /* Allow graceful return to normal */
    font-size: 20px;
    top: -8px;
}

.btn-2:hover span {
    padding-right: 18px;    /* Push button text and content to the left to simulate "fade-in" look */
}
  
.btn-2:hover span::after {
    opacity: 1;             /* Make visible on hover */
    right: -5px;            /* Offset content left push slightly to simulate a 'fade-in' look */
}

.btn-2:active span::after {
    right: -25px;
    transition: 80ms;
    opacity: 0.7;
}

/* */
.btn-3 {}
